
.top{
    height:50%;
    width:100%;
    margin-bottom:10%;
}
.black{

    width:100%;
    height:50px;
    background-color: black;
}
nav{
    display:flex;

}
nav h1{
    width:50%;
    font-family: 'Times New Roman', Times, serif;
    font-size:30px;
}
nav ul li{
    float: right;
    display:inline-block;
    list-style:none;
    margin:20px 20px 0 50px;
}
nav ul li a{
    float: right;
    font-weight:bold;
    color: rgb(14, 14, 17);
    position:relative;
}
.backImg{
    width:99%;
    height:78%;
    position:absolute;
   
}
h1{
    
    text-align:left;
    position:relative;
    margin-left:20px;
   
    width:200px;
 
}
a{
    margin-left:5%;
    color: antiquewhite;
}
.text h2{
    color:rgb(8, 8, 8);
    font-size: 60px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
.search{
   width:400px;
   height:40px;
   border:solid 2px;
   color:black;
   font-size: 20px;
   border-radius:20px 20px 20px 20px;
    background-color:transparent;
}
.text{
        position:relative;
        font-size: 20px;;
        margin-top:120px;
        margin-right:400px;
        margin-left:400px;
        text-align: center;
        font-weight: 200;
    }

.bottom{
    display:flex;
    height:50%;
    width:100%;
}
.links{
    position:relative;
    text-align:right;
    font-weight: 400;
    font-size: 20px;
    margin-right:20px;
    margin-left:50%;
    margin-top:20px;
}
.bone{
   
    padding-top:10px;
    padding-left:40px;
    height:50px;
    margin-left:10px;
    width:25%;
   
}
.btwo{
    height:50px;
    padding-top:10px;
    padding-left:20px;
    
    margin-left:10px;
    width:25%;
   
}
.btree{ 
    height:50px;
    padding-top:10px;
    padding-left:20px;
    width:25%;
  
   
}
.bfour{
    height:50px;
    margin:auto;
    padding-top:10px;
    padding-left:20px;
    width:25%;
   
}
