*{
    margin:0;
    padding:0;
    font-family:sans-serif;

}
.hero{
    position:relative;
    width:100vw;
    height:105vh;
    background-color:rgb(189, 216, 92);
}

.back{
    position:absolute;
    width:100vw;
    height:100vh;
}
nav{
    display:flex;
    width:84%;
    margin:auto;
    padding:20px 0;
    align-items:centre;
    justify-content:space-between;
}
nav h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    font-size:60px;
}
nav ul li{
     display:inline-block;
     list-style:none;
     margin:10px 20px;
}
nav ul li a{
    text-decoration:none;
    color:#000;
    font-weight:bold;
}
nav ul li a:hover{
     color:rgb(255, 153, 0);
}
.detel{
     margin-left:8%;
     margin-top:12%;
     display: flex;
}
.text{
    width:50%;
}
.image{
    width:50%;
}
.text h1{
    font-size:50px;
    color:#212121;
    margin-bottom:20px;

}
span{
    color:#e08b8b;
    line-height: 22px;
}
.text a{
      background:#212121;
      padding:10px 18px;
      text-decoration:none;
      font-weight:bold;
      color:#fff;
      display:inline-block;
      margin:30px 0;
      border-radius:5px; 
}
.image img{
    width:400px;
    height:400px;
    float:right;
    margin-right:100px;
    border: solid 5px rgb(59, 116, 35);
    border-radius:100%;
}

.about {
    padding-top:70px;
    padding-left:100px;
    font-size: 25px;
}
.about p{
    margin-right:100px;
    width: auto;
    font-size: 25px;
}
hr{
    width:25vw;
   
}
.skills{
   
    font-family: 'Times New Roman', Times, serif;
    padding-top:60px;
    padding-left:100px;
    font-size: 25px;
}
.skills ul li{
    font-family: 'Times New Roman', Times, serif;
    margin-left:35px;
}
.contact{
    font-family: 'Times New Roman', Times, serif;
    margin-top:60px;
    margin-left:100px;
    font-size: 25px;

}
.contact img{
    width:50px;
    height:50px;
}
.con{
    width:84%;
    align-items:centre;
    display:flex;
    justify-content:space-between;
    
}


/* Container for skill bars */
.container {
  width: 55%;
  background-color: #ddd;
 
}
.skill{
     padding-top: 10px; /* Add top padding */
      padding-bottom: 10px
}
.c {
    width: 80%; 
    background-color: #04AA6D;
} /* Green */
.Cplus {
    width: 65%;
     background-color: #2196F3;
} /* Blue */
.Ds {
    width: 50%;
     background-color: #f44336;} /* Red */
.Java {
    width: 40%; 
    background-color: #808080;
} /* Dark Grey */
.bottom{
    position:relative;
    width:100vw;
}